[submodule "iTerm2-Color-Schemes"]
	path = iTerm2-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule "Brewfile"]
	path = Brewfile
	url = git@github.com:haribote/Brewfile.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:haribote/dotfiles.git
[submodule "tig"]
	path = tig
	url = git@github.com:jonas/tig.git
